{
    "bind_addr": "{{ ip }}",
    "client_addr": "0.0.0.0",
    "server": false,
    "datacenter": "default",
    "data_dir": "/var/consul",
    "encrypt": "{{ consul.encrypt_key }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "retry_join": {% set ip_arr = [] %}
{% for host in groups['server'] %}
{% if hostvars[host]['ip'] != ip %}
{% if ip_arr.append(hostvars[host]['ip']) %}{% endif %}
{% endif %}
{% endfor %}
{{ ip_arr | to_json }}
}
